<template>
  <div class="layout-padding">
    <div class="fc-form">
      <div class="form-header">
        <div class="new-body-modal" style="padding-bottom: 20px;">
          <div id="container" style="width:100%;display:inline-block;">
            <div>
              <div
                id="YouBIMViewer"
                v-bind:style="(asset || buildingList ) ? 'margin-left: 263px;': assetView ?'margin-left: 20px;':''"
              ></div>
            </div>
            <div class="scrollable">
              <div v-if="buildingList">
                <el-select
                  class="building-list"
                  v-model="bimBuildingId"
                  placeholder="Choose Building"
                  @change="buildingChange"
                >
                  <el-option
                    v-for="building in buildingList"
                    :value="building.data.thirdpartyid"
                    :label="building.name"
                    :key="building.data.thirdpartyid"
                  ></el-option>
                </el-select>
              </div>
              <div v-if="asset" class="fc-popover-con">
                <el-popover v-model="showPopover" width="300" popper-class="bim-popover">
                  <div class="fc-bim-flex">
                    <el-row class="width100 fc-bim-popup-header">
                      <el-col :span="22">
                        <div class="fc-bim-txt-14 bold">{{asset.name}}</div>
                      </el-col>
                      <el-col :span="2">
                        <i class="el-icon-close pointer f13 fc-bim-popup-close" @click="deisolate"></i>
                      </el-col>
                    </el-row>
                  </div>
                  <div>
                    <el-tabs v-model="activeTab" class="fc-bim-tab">
                      <el-tab-pane
                        label="READINGS"
                        name="readings"
                        v-if="readings && readings.length!=0"
                      >
                        <div
                          v-for="(reading, index) in readings"
                          :key="reading.field.id + index"
                          class="field"
                          style="cursor: pointer;"
                          @click="goToAnalytics(
                                    asset.id,
                                    reading.field.id
                                  )"
                        >
                          <el-row>
                            <el-col :span="16" class="field-label">{{ reading.field.displayName }}</el-col>
                            <el-col :span="8" class="field-value line-height22 text-right">
                              <span
                                v-html="
                                    displayReadings(
                                      reading.field,
                                      reading.value,
                                      reading.actualValue
                                    )
                                  "
                              ></span>
                            </el-col>
                          </el-row>
                        </div>
                        <div class="f13 mb10 text-center mT10">
                          <a
                            v-if="readingsFullList.length>3"
                            @click="expandCollapseList('reading')"
                            class="pT10 pB10 fc-bim-show-more"
                          >{{ readingsExpanded ? 'Show Less' : 'Show More' }}</a>
                        </div>
                      </el-tab-pane>
                      <el-tab-pane
                        label="WORK ORDERS"
                        name="workorders"
                        v-if="workorders && workorders.length!=0"
                      >
                        <div
                          v-for="(wo, index) in workorders"
                          :key="wo.serialNumber + index"
                          class="field"
                          style="cursor: pointer;"
                          @click="openWoSummaryView(wo.id)"
                        >
                          <el-row>
                            <el-col :span="16" class="field-label">
                              <span class="fc-id">{{ '#' + wo.serialNumber }}</span>
                            </el-col>
                          </el-row>
                          <el-row>
                            <el-col :span="16" class="field-label">{{ wo.subject }}</el-col>
                            <el-col :span="8" class="field-value line-height22 text-right">
                              <span v-if="wo.moduleState && wo.moduleState.id">
                                {{
                                getTicketStatus(wo.moduleState.id).displayName
                                }}
                              </span>
                              <span v-else>
                                {{
                                wo.status
                                ? getTicketStatus(wo.status.id)
                                ? getTicketStatus(wo.status.id).displayName
                                : '---'
                                : '---'
                                }}
                              </span>
                            </el-col>
                          </el-row>
                        </div>
                        <div class="f13 mb10 fc-bim-show-more" style="margin-top: auto;">
                          <a
                            v-if="workordersFullList.length>3"
                            @click="expandCollapseList('workorder')"
                            class="pT10 pB10 fc-bim-show-more"
                          >{{ workorderExpanded ? 'Show Less' : 'Show More' }}</a>
                        </div>
                      </el-tab-pane>
                      <el-tab-pane label="ALARMS" name="alarms" v-if="alarms && alarms.length!=0">
                        <div
                          v-for="(alarm, index) in alarms"
                          :key="alarm.id + index"
                          class="field"
                          style="cursor: pointer;"
                          @click="openAlarmSummary(alarm.id)"
                        >
                          <el-row>
                            <el-col :span="16" class="field-label">
                              <span class="fc-id">#{{ alarm.id }}</span>
                            </el-col>
                          </el-row>
                          <el-row>
                            <el-col :span="16" class="field-label">{{ alarm.subject }}</el-col>
                            <el-col :span="8" class="field-value line-height22 text-right">
                              <span
                                class="uppercase severityTag"
                                v-bind:style="{
                                    'color': getAlarmSeverity(alarm.severity.id)
                                      .color,
                                  }"
                              >
                                {{
                                alarm.severity.id
                                ? getAlarmSeverity(alarm.severity.id).displayName
                                : '---'
                                }}
                              </span>
                            </el-col>
                          </el-row>
                        </div>

                        <div class="f13 mb10 fc-bim-show-more" style="margin-top: auto;">
                          <a
                            v-if="alarmsFullList.length>3"
                            @click="expandCollapseList('alarm')"
                            class="pT10 pB10 fc-bim-show-more"
                          >{{ alarmExpanded ? 'Show Less' : 'Show More' }}</a>
                        </div>
                      </el-tab-pane>
                    </el-tabs>
                  </div>
                </el-popover>
              </div>

              <!-- <span  class="back-btn"
                        @click="backToAssetView">
                        <i class="back-icon"></i>
              </span>-->
              <i
                v-if="assetView && deisolated"
                class="el-icon-back back-btn"
                @click="backToAssetView"
              ></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      activeTab: null,
      showPopover: true,
      deisolated: false,
      assetView: false,
      bimBuildingId: "",
      buildingList: null,
      asset: null,
      workorders: null,
      workordersFullList: null,
      workorderTicketStatusList: null,
      alarms: null,
      alarmsFullList: null,
      alarmSeverityList: null,
      readings: null,
      readingsFullList: null,
      workorderExpanded: false,
      alarmExpanded: false,
      readingsExpanded: false
    };
  },
  mounted() {
    window.app = FacilioAppSDK.init();
    this.init();
  },
  methods: {
    init() {
      window.app.on("app.loaded", data => {
        let widget = window.app.getWidget();
        if (widget && widget.entityTypeEnum === "SUMMARY_PAGE") {
          this.assetView = true;
          this.loadAssetDetails(this.$route.params.viewId, true);
        } else {
          this.loadBuildingsList();
          this.bimBuildingId = '351';
          this.createYBViewer();
        }
      });
    },
    backToAssetView() {
      this.deisolated = false;
      let viewId = this.$route.params.viewId;
      this.loadAssetDetails(viewId, false);
      window.YBViewerInstance.focusByGUID([
        {
          GUID: viewId
        }
      ]);
      window.YBViewerInstance.isolateByGUID([
        {
          GUID: viewId
        }
      ]);

      this.showPopover = true;
    },
    buildingChange() {
      window.YBViewerInstance.clear();
      this.createYBViewer();
      this.asset = null;
      this.workorders = null;
      this.workordersFullList = null;
      this.workorderTicketStatusList = null;
      this.alarms = null;
      this.alarmsFullList = null;
      this.alarmSeverityList = null;
      this.readings = null;
      this.readingsFullList = null;
      this.workorderExpanded = false;
      this.alarmExpanded = false;
      this.readingsExpanded = false;
    },
    createYBViewer() {
      window.YBViewerInstance = YBVIEWER({
        building: this.bimBuildingId,
        restUrl: "https://geoapi.youbim.com:8181/",
        socketUrl: "wss://geoapi.youbim.com:8181",
        canvasContainer: document.getElementById("YouBIMViewer"),
        canvasId: "viewer",
        toolbar: {
          actionBar: true,
          systemPanel: true,
          savedViews: true
        }
      });
      window.YBViewerInstance.addEventListener(
        window.YBViewerInstance.RAYCASTHIT,
        args => {
          this.loadAssetDetails(args, false);
          this.showPopover = true;
        }
      );
    },
    loadBuildingsList() {
      let url = "/v2/building/thirdPartyBuildings";
      let options = {
        method: "GET"
      };

      window.app.request
        .invokeFacilioAPI(url, options)
        .then(response => {
          this.buildingList = response.result.buildings;
        })
        .catch(error => {
          // error in request
        });
    },
    loadAssetDetails(viewId, loadView) {
      let url = "/v2/assets/3dviewAsset";
      let options = {
        method: "GET",
        params: {
          viewId: viewId
        }
      };

      window.app.request
        .invokeFacilioAPI(url, options)
        .then(response => {
          this.asset = response.result.asset;
          if (response.result.bimBuildingId) {
            this.bimBuildingId = response.result.bimBuildingId;
          }
          this.workordersFullList = response.result.workorders;
          if (this.workordersFullList) {
            this.workorders = this.workordersFullList.slice(0, 3);
          }
          this.workorderTicketStatusList =
            response.result.workorderTicketStatusList;
          this.alarmsFullList = response.result.alarms;
          if (this.alarmsFullList) {
            this.alarms = this.alarmsFullList.slice(0, 3);
          }
          this.alarmSeverityList = response.result.alarmSeverityList;
          this.readingsFullList = response.result.readings;
          if (this.readingsFullList) {
            this.readings = this.readingsFullList.slice(0, 3);
          }
          if (this.readings !== null && this.readings.length !== 0) {
            this.activeTab = "readings";
          } else if (this.workorders !== null && this.workorders.length !== 0) {
            this.activeTab = "workorders";
          } else if (this.alarms !== null && this.alarms.length !== 0) {
            this.activeTab = "alarms";
          }

          if (loadView) {
            this.createYBViewer();
            window.YBViewerInstance.focusByGUID([
              {
                GUID: viewId
              }
            ]);
            window.YBViewerInstance.isolateByGUID([
              {
                GUID: viewId
              }
            ]);
          }
        })
        .catch(error => {
          // error in request
        });
    },
    deisolate() {
      this.deisolated = true;
      window.YBViewerInstance.homeView();
      window.YBViewerInstance.isolateByGUID();
      this.asset = null;
      this.workorders = null;
      this.workordersFullList = null;
      this.workorderTicketStatusList = null;
      this.alarms = null;
      this.alarmsFullList = null;
      this.alarmSeverityList = null;
      this.readings = null;
      this.readingsFullList = null;
      this.workorderExpanded = false;
      this.alarmExpanded = false;
      this.readingsExpanded = false;
    },
    expandCollapseList(type) {
      if (type === "workorder") {
        if (this.workorderExpanded) {
          this.workorders = this.workordersFullList.slice(0, 3);
        } else {
          this.workorders = this.workordersFullList.slice(0, 10);
        }
        this.workorderExpanded = !this.workorderExpanded;
      } else if (type === "alarm") {
        if (this.alarmExpanded) {
          this.alarms = this.alarmsFullList.slice(0, 3);
        } else {
          this.alarms = this.alarmsFullList.slice(0, 10);
        }
        this.alarmExpanded = !this.alarmExpanded;
      } else if (type === "reading") {
        if (this.readingsExpanded) {
          this.readings = this.readingsFullList.slice(0, 3);
        } else {
          this.readings = this.readingsFullList;
        }
        this.readingsExpanded = !this.readingsExpanded;
      }
    },
    getTicketStatus(id) {
      return this.workorderTicketStatusList.find(s => s.id === id);
    },
    getAlarmSeverity(id) {
      return this.alarmSeverityList.find(s => s.id === id);
    },
    displayReadings(field, value, actualValue) {
      if (Number(value) === -1) {
        return "--";
      } else if (isDecimalField(field)) {
        let unit = field.unit ? field.unit : "";
        if (unit === "kWh") {
          let roundedValue = Math.round(value);
          if (roundedValue > 999) {
            return (value / 1000).toFixed(2) + " MWh ";
          } else {
            return value.toFixed(2) + " " + unit;
          }
        } else {
          return value.toFixed(2) + " " + unit;
        }
      } else if (isDateTimeField(field)) {
        return this.$options.filters.formatDate(value);
      } else if (isDateField(field)) {
        return this.$options.filters.formatDate(value, true);
      } else if (isBooleanField(field)) {
        if (
          isNullOrUndefined(value) ||
          value === -1 ||
          isNullOrUndefined(actualValue)
        )
          return "--";
        return value ? field.trueVal || "True" : field.falseVal || "False";
      } else if (isEnumField(field)) {
        return field.enumMap[parseInt(value)];
      } else {
        return value;
      }
    },
    openWoSummaryView(id) {
      let options = {
        module: "workorder",
        id: id
      };
      window.app.interface.openSummary(options);
    },
    openAlarmSummary(id) {
      let options = {
        module: "alarm",
        id: id
      };
      window.app.interface.openSummary(options);
    },
    goToAnalytics(parentId, readingId) {
      let options = {
        dataPoints: [
          {
            parentId: parentId,
            readingId: readingId
          }
        ]
      };
      window.app.interface.openAnalytics(options);
    }
  }
};

export const isBooleanField = field => {
  return (
    field.dataTypeEnum === "BOOLEAN" ||
    (field.dataTypeEnum || {})._name === "BOOLEAN"
  );
};

export const isDecimalField = field => {
  return (
    field.dataTypeEnum === "DECIMAL" ||
    (field.dataTypeEnum || {})._name === "DECIMAL"
  );
};

export const isEnumField = field => {
  return (
    field.dataTypeEnum === "ENUM" || (field.dataTypeEnum || {})._name === "ENUM"
  );
};

export const isDateField = field => {
  return (
    field.dataTypeEnum === "DATE" || (field.dataTypeEnum || {})._name === "DATE"
  );
};

export const isDateTimeField = field => {
  return (
    field.dataTypeEnum === "DATE_TIME" ||
    (field.dataTypeEnum || {})._name === "DATE_TIME"
  );
};

export const isNullOrUndefined = value => {
  return value === undefined || value === null;
};
</script>

<style>
.subtitle {
  font-size: 12px;
  opacity: 0.7;
}
.title {
  padding-top: 0 !important;
}

.asset-details {
  width: 348px;
  background: #ffffff;
  border-radius: 2px;
  text-align: center;
  padding: 15px;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302),
    0 1px 3px 1px rgba(60, 64, 67, 0.149);
  margin: 20px;
  font-family: sans-serif;
}

.asset-details div {
  padding: 5px;
  padding-left: 5px;
  padding-right: 0px;
}

#toolbar-wrapper {
  display: none;
}

.headerrow {
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #333333;
  white-space: nowrap;
  padding-left: 5px;
  padding-right: 0px;
}

.fc-id {
  font-size: 11px;
  color: #39b2c2;
  letter-spacing: 0.4px;
  font-weight: 400;
}
.tablerow td {
  padding-left: 5px;
}
.tablerow {
  text-align: left;
  font-size: 13px;
  line-height: 20px;
  font-weight: normal;
  letter-spacing: 0.6px;
  color: #333333;
  word-break: break-word;
  white-space: normal;
  max-width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding-left: 5px;
  padding-right: 0px;
}

.severityTag {
  font-weight: bold !important;
  font-size: 10px;
}

.uppercase {
  text-transform: uppercase;
}
.bold {
  font-weight: bold !important;
}

.fc-bim-show-more {
  background-color: rgb(255, 255, 255);
  text-align: center;
  color: #489edc;
  font-size: 12px;
  font-weight: 600;
  text-transform: capitalize;
  letter-spacing: 0.3px;
  text-decoration: none;
  cursor: pointer;
  outline: 0;
  transition: color 0.25s;
  padding: 13px 10px 10px;
}

.scrollable {
  height: 100vh;
  overflow-y: scroll;
}
.close-btn {
  cursor: pointer;
  display: inline-block;
}
.close-icon {
  font-family: element-icons !important;
  font: inherit;
}

.close-icon::before {
  content: "x";
  font-family: Arial, sans-serif;
}

.back-btn {
  cursor: pointer;
  display: inline-block;
}
.back-icon {
  font-family: element-icons !important;
  font: inherit;
}
.back-icon::before {
  content: "<-";
  font-family: Arial, sans-serif;
}
.building-list .el-input__inner {
  margin-top: 18px;
  margin-left: 21px;
  width: 300px;
  height: 40px;
  line-height: 40px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 3px;
  background-color: #ffffff;
  border: solid 1px #d0d9e2;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.4px;
  color: #333333;
}
.building-list .el-select-dropdown__item {
  font-size: 12px;
  font-weight: 400;
  color: #191a45;
}
.building-list .el-input.is-focus .el-input__inner {
  border-color: #3ab2c2;
}
.building-list .el-select-dropdown__item.selected {
  color: #ee518f;
  font-weight: 700;
}
.building-list .el-input__suffix {
  top: 8px;
}
.field {
  font-size: 11px;
  padding: 10px 0;
  border-bottom: 1px solid #edf4fa;
  transition: top 0.45s cubic-bezier(0.44, 0.99, 0.48, 1);
  padding-left: 10px;
  padding-right: 10px;
}
.el-tabs__item.is-top {
  padding-left: 0;
  font-size: 11px;
}
.bim-popover .el-tabs__header {
  margin-bottom: 0;
}
.bim-popover .el-popover__title {
  font-size: 13px;
  margin-bottom: 0;
}
.bim-popover .el-popover {
  border-radius: 10px;
  margin-top: 10px;
  margin-left: 15px;
}
.bim-popover {
  max-height: 300px;
  padding: 0 0 10px;
  overflow-y: scroll;
}
.fc-bim-flex {
  display: flex;
}
.fc-bim-txt-14 {
  font-size: 13px;
  font-weight: normal;
  line-height: 1.23;
  letter-spacing: 0.5px;
  color: #324056;
}
.fc-popover-con {
  width: 300px;
  margin-left: 23px;
  margin-top: 10px;
  overflow-x: hidden;
  padding-bottom: 50px;
  border-radius: 10px;
}
.field-label {
  font-size: 12px;
  font-weight: normal;
  line-height: 1.43;
  letter-spacing: 0.5px;
  color: #191a45;
  word-break: break-all;
}
.text-center {
  text-align: center;
}
.mT10 {
  margin-top: 10px;
}
.width100 {
  width: 100%;
}
.fc-bim-popup-close {
  text-align: right;
  font-weight: 800;
  color: #191a45;
  cursor: pointer;
}
.fc-bim-tab .el-tabs__item.is-active,
.fc-bim-tab .el-tabs__item {
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #2f4058;
}
.fc-bim-tab .el-tabs__active-bar {
  width: 30px !important;
  background-color: #ee518f !important;
  left: 10px;
}
.fc-bim-tab .el-tabs__nav-wrap::after {
  height: 1px;
  background-color: #eeeeee;
}
.fc-bim-tab .el-tabs__nav {
  padding-left: 10px;
  padding-right: 10px;
}
.text-right {
  text-align: right;
}
.field-value {
  font-size: 12px;
  font-weight: 600;
  word-break: break-word;
  color: #191a45;
}
.fc-bim-popup-header {
  padding: 17px 10px 0;
}
</style>
